@import "./variables.styl"

.card
    display: flex
    flex-direction:column
    align-items:center
    justify-content:center
    width: 150px
    height:150px
    border-radius: 100%
    background: white
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    .cardImg
        width:50px
        height:50px
        clip-path: circle();
    .cardBody
        text-align: center
        margin-top: 0.8rem
        .countryTitle
            font-weight: bold
            font-size: 1rem
        .continent
            font-size: 0.7rem
