@import "./variables.styl"

.container
    display: flex
    width: 100%
    min-height: 100vh
    margin-top:7vh
    @media screen and (min-width: 768px)
        margin-top:0
    .content
         width:100%
         display: flex
         justify-content: center
         align-items:center
         gap:2rem
         padding: 1rem

         /* The image used */
         background-image: url(../assets/home-page-bg.png)
         /* Center and scale the image nicely */
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
