@import "./variables.styl"

.container
    display: flex
    justify-content: flex-end
    align-items: center
    label
        margin-right: 0.5rem
        @media screen and (min-width: 768px)
            font-size:12px
        @media screen and (min-width: 968px)
            font-size:14px
