@import "./variables.styl"

.container
    display: flex
    justify-content: center
    align-items: center
    gap:0.3rem
    width: 50%
    input
      width: 2.5rem
      margin-right: 0.3rem
    button
      width: 2rem
      height: 2rem
      background-color: transparent
      border: none;
      color: main-color
      padding: 0.5rem
      text-align: center
      text-decoration: none
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer

.activeButton
    border-radius: 100%
    background-color: main-color !important
    color: white !important

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
