@import "./variables.styl"

.container
    width: 100%
    form
        width:100%
        display: flex
        justify-content: center
        align-items: center
        input
             width: 70%
             border-radius: 0.5rem
             padding: 0.2rem 0.5rem
             margin: 1rem 0
