@import "./variables.styl"

.container
    display: flex
    justify-content: flex-start
    align-items: center
    @media screen and (max-width: 768px)
        width: 100%
    form
        width: inherit
        position: absolute
        @media screen and (max-width: 768px)
            position: relative
        input
            width: 30vw
            height: 2.5rem
            border-radius: 1.5rem
            padding: 0.2rem 1rem
            margin: 1rem 0
            border:none
            @media screen and (max-width: 768px)
                width: 100%
    .search
        width: 2rem
        height: 2rem
        background-color: main-color
        padding: 0.5rem
        display: inline-flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 100%
        color: base-color
        position: relative
        right: 2.4rem
        top: 0.12rem
        @media screen and (max-width: 768px)
            position: absolute
            right: 0.3rem
            top: 1.25rem
